@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

/* Light mode */
@theme {
  --color-background: #f9fafb;    
  --color-foreground: #1f2937;    
}

/* Dark mode */
.dark {
  --color-background: #18181b;    
  --color-foreground: #f4f4f5;    
}

body {
  background-color: var(--color-background);
  color: var(--color-foreground);
}

@keyframes fadeIn {
  0% {
    opacity: 0;
    transform: scale(0.95);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}

.animate-fadeIn {
  animation: fadeIn 0.4s ease-out forwards;
}
